doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://design-docs.trexcloud.com/css/nimatron.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/okta-auth-js/dist/okta-auth-js.min.js")
    script(src="/javascripts/main.js")
